body {
  text-align: center;
  margin: 0;
}

.header {
  background-color: #2f3241;
  border-bottom: 1px solid #1a1b23;
  color: white;
  font-size: 24px;
  padding: 15px 30px;
}

.container {
  margin: 5px 0px 5px 0px;
}

@-webkit-keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}

.button {
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  color: #2194E0;
  border: 2px solid #2194E0;
  font-size: 20px;
  display: inline-block;
  border-radius: 0.3em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  transition: none;
}

.button:hover {
  background-color: #2194E0;
  color: #fff;
}

.button:hover:before {
  -webkit-transform: skewX(-45deg) translateX(13.5em);
          transform: skewX(-45deg) translateX(13.5em);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

table {
  width: 100%;
  border-spacing: 0;
  font-size:14px;
}

table th {
  color: #fff;
  padding: 7px 14px;
  background: #258;
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table th:last-child {
  border-right:1px solid #258;
}

table tr td {
  padding: 7px 14px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: center;
}

table tr td:last-child {
  border-right: 1px solid #84b2e0;
}

table tr {
  background: #fff;
}

table tr:nth-child(odd) {
  background: #f1f6fc;
}

table td[server='perfect'] {
  background: lime;
}

table td[server='great'] {
  background: aqua;
}

table td[server='nice'] {
  background: yellow;
}

table td[server='bad'] {
  background: red;
}


